body{
    background-color: rgb(29, 29, 29);
}

.nav-tabs{
    --bs-nav-tabs-border-color: rgb(29, 29, 29);
    --bs-nav-tabs-link-active-bg: rgb(29, 29, 29);
}

.nav-tabs .nav-link.active {
    border-color: rgb(29, 29, 29);
    border-bottom: 0.05rem solid white;
    color: aliceblue;
}

.nav-tabs .nav-link {
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
}

.nav{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.nav-item{
    width: 200px;
    display: flex;
    justify-content: center;
}

.nav-tabs .nav-link:hover {
    isolation: isolate;
    border-color:rgb(29, 29, 29);
}

.sub-nav .nav-link {
    color: aliceblue;
    font-size: 16px;
    font-weight: 500;
}

.sub-nav .nav-link.active {
    color: red;
    font-size: 16px;
    font-weight: 500;
}

.nav1{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(54, 53, 53);
    padding: 7px 20px;
}

.nav1 .nav-item{
    width: 150px;
    justify-content: start;
    align-items: center;
}
