/*padrão*/
body{
    overflow-x: hidden;
    font-family: Poppins;
}
.form-select:focus {
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0;
}

/*página de login*/
.nav-login{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.nav-login .page-info-name, .nav-login .nav-link-item  {
    padding-top: 10px;
    padding-left: 20px;
    color:rgb(181, 181, 181);
    font-size: 22px;
}
.nav-login .page-info-name{
    margin-left: auto;
    margin-right: 50px;
    margin-top: 25px;
    text-transform: uppercase;
}
.page-info-name p{
    font-family: nunito;
    font-size:12px; 
    color: #c3c3c3; 
    display: inline; 
    padding-right: 20px;
}
.nav-login .page-info-name i, .nav-login .nav-link-item i{
    margin-right: 10px;
    margin-top: 20px;
}
.nav-login .page-info-name a, .nav-login .nav-link-item a{
    text-decoration: none;
    color: rgb(59, 7, 84);
    font-size: 18px;
    font-weight: 800;
    font-family: nunito;
}
.nav-login-menu{
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.nav-login-menu p{
    font-family: nunito;
    color: rgb(197, 197, 197);
    font-weight: 500px;
}
.nav-login-menu img{
    width: 120px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.login{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
}
.login h2{
    color: #7625c9;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 900;
    text-align: center;
    padding: 0px 0px 50px 0px;
}
.login .form-login-page{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.form-login-page form{
    color: #000;
    font-weight: 500;
    font-family: nunito;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.login .img-login{
    width: 50%;
    height: 500px;
}
.img-login img{
    width: 100%;
    height: 100%
}
.form-login-page button{
    width: 100%;
    margin-top: 20px;
    background-color: #FA4D39;
    border-color: #FA4D39;
}

/*página livros aluno*/

.conteudo-livro-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 150px;
}
.busca-livro-page{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.busca-livro-page input{
    width: 450px;
    margin: 5px 10px 10px 0px;
    display: inline;
    margin-right: 10px;
}

.busca-livro-page select{
    margin-top: 5px;
    display: inline;
    width: 150px;
    margin-right: 10px;
}

.busca-livro-page span{
    display: inline;
    justify-content: center;
    flex-wrap: wrap;
    width:200px;
}

.btn-pesquisa{
    border: 0.05rem solid #FA4D39;
    background-color: #FA4D39;
    color: #ffffff;
}

.btn-pesquisa:hover{
    border-color: #FA4D39;
    color: #000;
}

.table-livro-aluno{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.table-livro-aluno > div{
    display: flex; 
    align-items: center;
    border: 0.05rem solid #ced4da;
    border-radius: 3px 30px;
    width: 40%;
    min-width: 200px;
    height: 150px;
    margin: 20px auto 0px auto;   
}
.table-livro-aluno img{
    width: 80px;
    height: 110px;
    margin-left: 40px;
}
.table-conteudo{
    margin-left: 50px;
    width: 60%;
}
.table-conteudo h4{
    color:#000;
    font-weight: 500;
    font-family: nunito;
    margin-bottom: 0px;
}
h4 span{
    max-width: 77px;
    background-color: #7625c9;
    color: #ffffff;
    padding: 2px 7px;
    font-size: 11px;
    border-radius: 12px;
    letter-spacing: 0.5px;
    display: inline;
}
.table-conteudo  p{
    font-size: 12px;
    margin: 2px;
    font-weight: 700;
}
.sinopse{
    width: 90%;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #212529;
}
.page-link{
    color: #4c0677;
    font-weight: 700;
    margin-top: 50px;
}
.page-link:hover{
    color: #4c0677;
}


/*div historico vazio*/
.erro-historico h2{
    color: #4c0677;
    font-size: 32px;
    margin-top: 50px;
}

.erro-historico p{
    text-align: center;
    font-size: 16px;
}

.erro-historico a{
    color:rgb(59, 7, 84);
    font-weight: 700;
}

/*páginas cadastrar livro*/
.btn-pesquisa-bibliotecario{
    border: 0.05rem solid #a776d9;
    background-color: #a776d9; 
    padding: 8px 12px;
    color: #ffffff;
    border-radius: 10px;
    margin: 3px;
    margin-top: 10px;
}

.btn-pesquisa-bibliotecario:hover{
    background-color: #ffffff; 
    border: 0.05rem solid #4c0677;
    color: #4c0677;
}
.btn-conclui-cadastro{
    text-align: end;
}
.cadastrar-livro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #ffffff;
}
.input-nomes{
    width: 100%;
    min-width: 300px;
    margin-bottom: 10px;
    font-family: nunito;
    font-weight: 500;
}
.input-nomes input{
    margin: 0px 0px 30px 0px;
}
.input-selecionar{
    margin-top: 20px;
    width: 900px;
    margin-bottom: 30px;
    min-width: 300px;
}
.input-selecionar select{
    width: 70%;
    display: inline;
    font-family: nunito;
    font-weight: 500;
}

.input-selecionar input{
    width: 100%;
    display: inline;
    font-family: nunito;
    font-weight: 500;
}

.input-selecionar label{
    width: 400px;
    display: block;
    font-family: nunito;
    font-weight: 500;
}

.input-selecionar button{
    width: 23%;
    margin-left: 50px;
}
.input-textarea{
    font-family: nunito;
    font-weight: 500;
}
.input-textarea textarea{
    height: 200px;
    font-family: nunito;
    font-weight: 500;
}

/*alterar senha*/
.alterar-senha{
    margin-bottom: 100px;
    margin-top: 30px;
}

/*página avaliar*/
.dados-livro-avaliar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: nunito;
}
.dados-livro-avaliar p span{
    font-weight: 600;
    padding: 0px 5px 0px 0px;
    margin: 0px;
}
.img-avaliar{
    width: 38%;
    text-align: end;
    padding-right: 50px;
    height: 150px;
}
.img-avaliar img{
    width: 120px;
    height: 100%;
}
.dados-avaliar{
    width: 40%;
    text-align: start;
}
.form-avalia{
    margin-top: 50px;
    width: 30%
}
.link-avaliacoes{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.link-avaliacoes a{
    color:#4c0677;
    font-family: nunito;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 7px double #4c0677;
}

.avalia-livro{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: nunito;
}

.avalia-livro p span{
    font-weight: 600;
    padding: 0px 5px 0px 0px;
    margin: 0px;
}
.img-pessoa{
    width: 25%;
    text-align: end;
    padding-right: 50px;
    height: 150px;
}
.img-pessoa img{
    width: 120px;
    height: 100%;
}

.dados-avaliar{
    width: 50%;
    text-align: start;
}
.form-avalia{
    margin-top: 50px;
    width: 30%
}
.div-dados-avaliar{
    text-align: start;
}
.div-avaliacao{
    display: flex;
    flex-wrap: wrap;
    font-family: nunito;
    border-top: 0.05rem solid #c4c4c4;
    width: 50%;
    padding-top: 40px;
}

/*página consulta de alunos*/

.div-dados-aluno{
    width: 60%;
}
.div-dados-aluno p{
    font-size: 12px;
    margin: 2px;
    font-weight: 700;
}
.img-pessoa1{
    display: flex;
    justify-content: end;
    height: 100px; width: 160px;
    padding: 10px;
    margin-right: 18px;
}
.img-pessoa1 img{
    width: 90px; 
    height: 90px;
    border-radius: 300px;
}
.img-pessoa2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 
    width: 100px;
}

/*home aluno*/

.page-item-topo {
    padding-top: 10px;
    padding-left: 20px;
}

.nav-login .page-item-topo {
    margin-left: 30px;
    margin-right: auto;
    margin-top: 25px;
    text-transform: uppercase;
}

.page-item-topo p {
    font-family: nunito;
    font-size:12px; 
    color: #c3c3c3; 
    display: inline; 
    padding-right: 20px;
}

.nav-login .page-item-topo i {
    margin-right: 10px;
    margin-top: 20px;
}

.nav-login .page-item-topo a {
    text-decoration: none;
    color: rgb(59, 7, 84);
    font-size: 18px;
    font-weight: 800;
    font-family: nunito;
}

.home-div-conteudo {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    width: 100%;
    height: 630px;

}

.home-div {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 3px #3c3c3c;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: nunito;
    border-radius: 5px;
}

.home-pessoa {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:rgb(197, 197, 197);
}

.home-pessoa div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; width: 100%;
    padding: 10px;
    margin-right: 18px;
}  

.home-pessoa div > img {
    width: 170px; 
    height: 170px;
    border-radius: 50%;
}

.home-opcoes {
    padding-top: 50px;
    width: 10%;
    display: block;
    justify-content: center;
    border-right: 0.05rem solid rgb(197, 197, 197);
    
}
.home-opcoes .sair {
    width: 100%;
    text-align: center;
    color:#4c0677;
    text-decoration: underline;
    letter-spacing: 0.9px;
    font-weight: 600;
    margin-top: 70px;
    transition: all 0.2s ease-in-out;
}

.home-opcoes div {
    text-align: center;
    width: 90%;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px 7px 15px 7px;
    font-size: 24px;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
    transform: scale(0.9);
}

.home-opcoes div:hover {
    transform: scale(1);
    font-family: nunito;
    color: #000;
    font-weight: 500px;
    background-image: linear-gradient(to bottom, rgb(129, 22, 237), rgb(32, 136, 221), rgb(24, 196, 179));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
}

.home-opcoes div a, .home-opcoes p a {
    text-decoration: none;
    color: #731ec7;
}

.home-opcoes div a:hover {
    text-decoration: none;
    color: #991de7;
}

/*página modal*/
.modal-title{
    font-family: nunito;
    font-weight: 600;
}

.btn-comprido{
    width: 150px;
    background-color: #5f6c9e;
    font-weight: 600;
    color: #ffffff;
    padding: 2px 7px;
    font-size: 11px;
    border-radius: 12px;
    letter-spacing: 0.5px;
    display: inline;
    border: none;
}

.esquerda {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.centralizar-func {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.canvas-container {
    width: 300px;
    width: 300px;
}


/* estilo login*/
.login-div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #fff;
    justify-content: center;
}

.logo {
    width: 230px;
    height: 230px;
    padding-top: 50px;
    padding-right: 20px;
    margin-bottom: 30px;
}

.form-login{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    margin: auto;
    justify-content: center;
    border-radius: 0px 200px;
    padding-top: 50px;
    padding-bottom: 300px;
}

.form-login input{
    outline: 0;
    border: none;
    width: 500px;
    height: 40px;
    font-size: 20px;
    margin: 10px 0px;
    padding-left: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
    box-shadow: inset 0 0 0 transparent, 0 0 0.3em #a776d9;  
}

.form-login input:focus-visible{
    outline: 0;
}
.form-login input:hover{
    background-color: rgb(241, 241, 241);
}

.form-login .btn-login{
    width: 500px;
    height: 50px;
    margin: 15px 0px;
    border-radius: 20px;
    font-size: 20px;
    letter-spacing: 1px;
}

/*avaliacao*/

.avalia-div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #fff;
    justify-content: center;
    padding-top: 70px;
}

.avalia-livro-info{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.avalia-livro-info img{
    width: 30%;
    padding: 20px;
}
.avalia-livro-info div{
    width: 50%;
    margin-top: 20px;
    padding: 10px;
}
.avalia-livro-form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    text-align: center;
    justify-content: center;
}
.avalia-livro-form input, .avalia-livro-form textarea{
    outline: 0;
    border: none;
    width: 500px;
    height: 40px;
    font-size: 20px;
    margin: 10px 0px;
    padding-left: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
    box-shadow: inset 0 0 0 transparent, 0 0 0.3em #a776d9;  
}
.avalia-livro-form textarea{
    height: 100px;  
    padding-top: 10px;
}
.avalia-div .botao{
    width: 500px;
    height: 50px;
    margin: 15px 0px;
    border-radius: 20px;
    font-size: 20px;
    letter-spacing: 1px;
}

.avaliacoes-livro{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #fff;
    justify-content: center;
    padding: 200px 0px 0px 70px;
}
.avaliacoes-livro h1{
    width: 80%;
    color:rgb(59, 7, 84)
}
.avaliacoes-livro-div{
    width: 27%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: inset 0 0 0 transparent, 0 0 0.7em #a776d9; 
    border-radius: 0px 30px;
    margin: 50px;
    margin-bottom: 50px;
}
.avaliacoes-livro-div .avaliacoes-img{
    width: 20%;
}
.avaliacoes-img img{
    width: 90px;
    height: 90px;
    border-radius: 200px;
} 
.avaliacoes-livro-div div{
    width: 50%;
    margin-top: 20px;
    padding: 10px;
}

input, select, textarea{
    outline: 0;
    border: none;
    height: 40px;
    font-size: 20px;
    padding-left: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
    box-shadow: inset 0 0 0 transparent, 0 0 0.3em #a776d9;  
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}


/* Menu superior */

.dimensao {
    display: flex;
    justify-content: end;
}
.menu2 {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to right, #4d3bcb,#2b1396);
    padding-bottom: 20px;
    border-radius: 20px;
    margin-right: auto;
    margin-top: 15px;
    margin-left: auto;
}
.central-input {
    display: flex;
    justify-content: center;
}
.central-input input{
    border-radius: 10px;
    width: calc(40% - 10px);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 15px;
    outline: none;
    font-size: 16px;
    border: 2px solid #cdb1e9;
}
.central-input i {
    margin-top: 45px;
    margin-left: 20px;
    color: #fff;
}

/* Div FIltro */
.centralizar-filtro {
    display: flex;
    justify-content: center;
}
.filtro {
    margin-top: 30px;
    width: 60%;
}
.fast-filter
{
    display: flex;
    justify-content: space-evenly;
}
.radio-input {
    display: none;
}
.radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 236, 236);
    width: 60px!important;
    height: 60px!important;
    border-radius: 50%;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.47);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.47);
    color: #7E7B72;
    border-color: transparent;
    cursor: pointer;
}
.radio-label i {
    font-size: 30px;
}
.radio-input:checked ~ .radio-label
{
    color: #000;
    background-color: #cdb1e9;
}
.radio-input:checked ~ .title
{
    color: #cdb1e9;
}
.text-center p{
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.text-center a{
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
input[type="checkbox"]{
    display: none;
}

/* Formação livro */
.centralizar-livros {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
.div-livro-externo{
    width: 30%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 0.05rem solid #ced4da;
    border-radius: 3px 30px;
    height: 150px;
    margin: 30px auto;
}
.div-livro-externo img{
    width: 80px;
    height: 110px;
    margin-left: 40px;
}
.table-conteudo  p{
    font-size: 12px;
    margin: 2px;
    font-weight: 700;
}
.status{
    display: inline-flex;
    justify-content: space-around;
    color:rgb(87, 87, 87);
    font-size: 11px;
    width: 100%;
    padding-bottom: 5px;
}
.status div{
    width: 100%;
    text-align: center; 
    font-weight: 600;
}
.sinopse{
    width: 90%;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #212529;
}
.table-conteudo h4{
    color:#000;
    font-weight: 900;
    font-family: nunito;
    margin-bottom: 0px;
    font-size: 16px;
}
.centralizar-livro {
    width: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.centralizar-livro .titulo{
    width: 64%; 
    margin-top: 20px;
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.centralizar-livro .form-loc{
    width:53%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin: 30px 300px 30px 0px;
}

.div-livro-locacao{
    width: 37%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 0.05rem solid #ced4da;
    border-radius: 3px 30px;
    height: 170px;
    margin: 30px auto;
    padding-top: 5px;
}

.div-livro-locacao .img{
    width: 80px;
    height: 110px;
    margin-left: 30px;
}

/*hover categorias*/
.red{
    background-color:#FA4145;
    color: #fff;
}
.azul{
    background-color:#3770AD;
    color: #fff;
}
.verde{
    background-color: #3BA04C;
    color: #fff;
}
.rosa{
    background-color:#FF375D;
    color: #fff;
}
.amarelo{
    background-color:#FFD600;
    color: #fff;
}

.div-sucesso{
    width: 100%;
    padding: 30px;
    font-weight: 900;
    font-size: 72px;
    background-color: #3BA04C;
    margin: 150px 30px;
}
.div-sucesso p, .div-erro p{
    font-weight: 900;
    font-size: 24px;
}
.div-erro{
    width: 100%;
    padding: 30px;
    font-weight: 900;
    font-size: 72px;
    margin: 150px 30px;
    background-color: #FA4145;
}
.btn-nav-biblio{
    font-size: 14px;
}

.livro img{
    border-radius: 200px;
    width: 90px;
    height: 90px;
}















/*footer*/
.footer{
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 80px 0px 50px 0px;

}

.footer .div-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    border-top: 0.1px solid #4f4f4f;
    padding-top: 20px;
    border-bottom: 0.1px solid #4f4f4f;
    padding-bottom: 20px;
}

.div-footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
    padding: 30px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.footer img{
    width: 100px;
    height: 100px;
}

.footer a{
    color:rgb(181, 181, 181);   
    text-decoration: none;
}

div .icon-footer {
    text-align: center;
    color: #fff;
    font-size: 25px;
    letter-spacing: 20px;
    text-decoration: none;

}



@media  (max-width: 1500px) {
    .table-conteudo .sinopse{
        font-size: 12px;
        margin-top: 10px;
    }
    .table-conteudo h3{
        font-size: 22px;
    }
    .table-livro-aluno > div{
        width: 60%;
        min-width: 500px;
    }
    .table-conteudo .sinopse{
        font-size: 10px;
        margin-bottom: 3px;
    }
    .avaliacoes-livro-div{
        width: 60%;
    }
    .div-livro-externo{
        width: 45%;
        margin-right: 30px;
    }
    .div-livro-externo img{
        margin-bottom: 7px;
        margin-top: 10px;
    }
}

@media  (max-width: 1000px) {
    .table-livro-aluno > div{
        width: 70%;
        min-width: 500px;
    }
    h3 span, .disponibilidade{
        font-size: 9px;
    }
    .table-conteudo h3{
        font-size: 18px;
        padding-top: 20px;
    }
    .conteudo h2, .contato h2{
        font-size: 24px;
    }
    .conteudo p{
        font-size: 20px;
    }
    .contato .img-form{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .img-form img{
        width: 100%;
    }
    .contato .form-contato{
        width: 50%;
        padding-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    .acesso .form-login{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
    }
    .acesso .informes-login{
        width: 80%;
        border-right: none;
        margin-left: auto;
        margin-right: auto;
    }
    .input-selecionar, .input-selecionar button, .input-nomes, .input-textarea, .btn-conclui-cadastro{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-conclui-cadastro{
        text-align: start;
    }
    .page-info-name{
        display: none;
    }

    .table-conteudo .sinopse{
       font-size: 10px;
       margin-bottom: 3px;
    }

    .div-nav{
        display: none;
    }

    .form-login input{
        outline: 0;
        border: none;
        width: 400px;
        height: 40px;
        font-size: 16px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .form-login .btn-login{
        width: 400px;
        height: 50px;
        margin-top: 15px;
        border-radius: 20px;
        font-size: 18px;
        letter-spacing: 1px;
    }
    .avaliacoes-livro-div{
        width: 70%;
    }
}

@media  (max-width: 500px) {
    .form-login input{
        outline: 0;
        border: none;
        width: 300px;
        height: 40px;
        font-size: 16px;
    }

    .form-login .btn-login{
        width: 300px;
        height: 45px;
        margin-top: 15px ;
        border-radius: 20px;
        font-size: 18px;
        letter-spacing: 1px;
    }
    .avaliacoes-livro-div{
        width: 90%;
        margin: 10px;
    }
    .avaliacoes-livro{
        padding: 100px 0px 40px 0px;
    }
    .avalia-livro-info{
        width: 80%;
    }
    .avalia-livro-form{
        width: 80%;
    }
    .avalia-livro-form input, .avalia-livro-form textarea{
        width: 300px;
        height: 40px;
        font-size: 16px;
        margin: 10px 0px 0px 0px;
    }
    .avalia-livro-form textarea{
        height: 100px;  
        padding-top: 10px;
    }
    .avalia-div .botao{
        width: 300px;
        height: 50px;
        border-radius: 20px;
        font-size: 16px;
    }
    .avalia-livro-info img{
        width: 50%;
        padding: 20px;
    }
    .avalia-livro-info div{
        width: 55%;
        text-align: start;
    }
}
