/*padrão*/
body{
    overflow-x: hidden;
}

.tela{
    font-family: Poppins;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.form-select:focus {
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0;
}

/*barra de navegação*/
.div-nav{
    width: 6%;
    padding: 15px 0px 0px 20px;
}

.div-nav img{
    width: 80px;
    height: 70px;
    margin-left: 50px;
}

.active{
    border-bottom: 2px solid #5f6c9e
}

.navbar{
    --bs-navbar-padding-y: 0rem;
}

.navbar-nav{
    display: flex;
    width: 40%;
    padding-left: 80px;

}

.navbar-nav a{
    text-decoration: none;
    color: rgb(59, 7, 84);
    font-size: 18px;
    font-weight: 800;
    margin: 10px;
}

.btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 91px;
    margin-left: auto;
    margin-right: 0px;
    background-color: #7625c9;
    border: 0.05em solid #7625c9;
    animation-name: btnlogin;
    animation-duration: 0.7s;
    animation-delay: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: unset;
}

.btn-login a {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #e8e8e8;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    animation-name: btnlogin1;
    animation-duration: 0.7s;
    animation-delay: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: unset;
    width: 90px;
}

@keyframes btnlogin1{
    0%{
        width: 0px;
    }

    100%{
        width: 90px;
    }
}

@keyframes btnlogin{
    0%{
        width: 0px;
    }

    100%{
        width: 300px;
    }
}

.form-check-input:checked {
    background-color: #7625c9;
    border-color: #7625c9;
}

.form-check-input:focus {
    border-color: #7625c9;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.navbar{
    box-shadow: 0 0 0.05em #000;
}

.navbar-toggler{
    margin-left: auto;
    margin-right: 50px;
}

/* conteudo index */
.conteudo-index{
    width: 100%;
    height: 1000px;
}

.conteudo-index img{
    width: 100%;
    height: 100%;
}

.conteudo, .servico{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #090614;
}

.servico{
    background-color: #ffffff;
    padding-bottom: 40px;

}

.conteudo h2{
    color: #62248F;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 900;
    width: 80%;
    text-align: start;
    padding-top: 50px;
    letter-spacing: 0.5px;
}

.conteudo p{
    color: #3c3c3c;
    font-size: 24px;
    font-family: Poppins;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.servico span{
    color:#4c0677;
    font-weight: 900;

}


.acesso{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f4f4f4;
}

.acesso .informes-login{
    width: 45%;
    border-right:0.05em solid rgb(181, 181, 181);
    margin-left: auto;
    margin-right: auto;
}

.acesso h2{
    color: #62248F;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 900;
    text-align: start;
    padding: 0px;
}

.acesso p{
    width: 80%;
    color: #3c3c3c;
    font-size: 20px;
    font-family: Poppins;
    padding-top: 50px;
}

.acesso .form-login{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

.form-login button{
    background-color: #7625c9;
    border-color: #7625c9;
}

.form-acessar-login input{
    width: 400px;
}

.links a{
    color: #3c3c3c;
    display: block;
    text-decoration: none;
    padding-top: 12px;
}

.links i{
    color: #7625c9;
    padding-left: 6px;
}

.links i:hover{
    padding-left: 15px;
}

.contato{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f4f4f4;
}

.contato h2{
    color: #62248F;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 900;
    text-align: start;
    padding: 0px 0px 50px 0px;
}

.contato .form-contato{
    width: 50%;
    padding-top: 60px;
    margin-left: auto;
    margin-right: 0px
}

.contato .img-form{
    width: 40%;
    height: 500px;
}
.img-form img{
    width: 80%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.form-contato button{
    background-color: #7625c9;
    border-color: #7625c9;
    color: #fff;
}

.form-contato button:hover{
    background-color: #ffffff;
    border-color: #7625c9;
    color: #7625c9;
    font-weight: 600;
    letter-spacing: 0.8px;
}

/*página de login*/

.nav-login{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.nav-login .page-info-name, .nav-login .nav-link-item  {
    padding-top: 10px;
    padding-left: 20px;
    color:rgb(181, 181, 181);
    font-size: 22px;
}

.nav-login .page-info-name{
    margin-left: auto;
    margin-right: 50px;
    margin-top: 25px;
    text-transform: uppercase;
}

.page-info-name p{
    font-family: nunito;
    font-size:12px; 
    color: #c3c3c3; 
    display: inline; 
    padding-right: 20px;
}

.nav-login .page-info-name i, .nav-login .nav-link-item i{
    margin-right: 10px;
    margin-top: 20px;
}

.nav-login .page-info-name a, .nav-login .nav-link-item a{
    text-decoration: none;
    color: rgb(59, 7, 84);
    font-size: 18px;
    font-weight: 800;
    font-family: nunito;
}

.nav-login-menu{
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.nav-login-menu p{
    font-family: nunito;
    color: #000;
    font-weight: 500px;
}


.nav-login-menu img{
    width: 120px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.login{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
}

.login h2{
    color: #7625c9;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 900;
    text-align: center;
    padding: 0px 0px 50px 0px;
}

.login .form-login-page{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.form-login-page form{
    color: #000;
    font-weight: 500;
    font-family: nunito;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.login .img-login{
    width: 50%;
    height: 500px;
}

.img-login img{
    width: 100%;
    height: 100%
}

.form-login-page button{
    width: 100%;
    margin-top: 20px;
    background-color: #FA4D39;
    border-color: #FA4D39;
}

.footer-login{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 20px;
}

/*home do aluno*/
.conteudo-home{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 200px;
}
.conteudo-home a{
    text-decoration: none;
    color: #4f4f4f;
}

.conteudo-home div{
    width: 200px;
    border-radius: 10px;
    border: 0.05em solid #dcdada;
    padding: 10px;
    margin: 3px;
}

.conteudo-home i{
    font-size: 24px;
    color: #4c0677;
    margin-left: 78px;
}

.div-app{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f4f4f4;
    margin-bottom: 100px;
}

.div-app img{
    width: 80%;
}

.div-app div:first-child{
    width: 50%;
}

.div-app h1{
    text-align: center;
    color:rgb(59, 7, 84);
    font-weight: 900;
    margin-bottom: 40px;
    width: 100%;
}

.div-app p{
    font-size: 22px;
    width: 100%;
    text-align: center;
}

.img-home-aluno{
    width: 100%;
}

.img-home-aluno img{
    width: 100%;
}


/*página livros aluno*/

.conteudo-livro-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 150px;
}

.titulo-livro-page{
    width: 100%;
    text-align: center;
}

.titulo-livro-page h2{
    color: #4c0677;
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
}

.busca-livro-page{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
}

.busca-livro-page input{
    width: 450px;
    margin: 5px 10px 10px 0px;
    display: inline;
    margin-right: 10px;
}

.busca-livro-page select{
    margin-top: 5px;
    display: inline;
    width: 150px;
    margin-right: 10px;
}

.busca-livro-page span{
    display: inline;
    justify-content: center;
    flex-wrap: wrap;
    width:200px;
}

.btn-pesquisa{
    border: 0.05rem solid #FA4D39;
    background-color: #FA4D39;
    color: #ffffff;
}

.btn-pesquisa:hover{
    border-color: #FA4D39;
    color: #000;
}

.table-livro-aluno{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.table-livro-aluno > div{
    display: flex; 
    align-items: center;
    border: 0.05rem solid #ced4da;
    border-radius: 3px 30px;
    width: 40%;
    min-width: 200px;
    height: 150px;
    margin: 20px auto 0px auto;
    
}
.table-livro-aluno img{
    width: 80px;
    height: 110px;
    margin-left: 40px;
}
.table-conteudo{
    margin-left: 50px;
    width: 60%;
}
.table-conteudo h4{
    color:#000;
    font-weight: 500;
    font-family: nunito;
    margin-bottom: 0px;
}
h4 span, .disponibilidade{
    max-width: 77px;
    background-color: #7625c9;
    color: #ffffff;
    padding: 2px 7px;
    font-size: 11px;
    border-radius: 12px;
    letter-spacing: 0.5px;
    display: inline;
}
.categoria{
    max-width: 77px;
    background-color: #FA4D39;
    color: #ffffff;
    padding: 2px 7px;
    font-size: 11px;
    border-radius: 12px;
    letter-spacing: 0.5px;
    display: inline;
}

.indisponibilidade{
    max-width: 77px;
    color: #ffffff;
    padding: 2px 7px;
    font-size: 11px;
    border-radius: 12px;
    letter-spacing: 0.5px;
    display: inline;
    background-color: #5f6c9e;
}
.disponibilidade, .indisponibilidade{
    margin: 2px 60px;
}
.table-conteudo  p{
    font-size: 12px;
    margin: 2px;
    font-weight: 700;
}

.sinopse{
    width: 90%;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #212529;
}

.page-link{
    color: #4c0677;
    font-weight: 700;
    margin-top: 50px;
}

.page-link:hover{
    color: #4c0677;
}

/*historico*/
.navbar-historico{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.navbar-historico button{
    color:#4c0677;
    border: none;
    text-decoration: none;
    color: rgb(59, 7, 84);
    font-size: 18px;
    font-weight: 800;
    margin-right: 20px;
}

.navbar-historico a{
    text-decoration: none;
    color: rgb(59, 7, 84);
    font-size: 18px;
    font-weight: 800;
    margin-right: 50px;
}



/*div historico vazio*/
.erro-historico h2{
    color: #4c0677;
    font-size: 32px;
    margin-top: 50px;
}

.erro-historico p{
    text-align: center;
    font-size: 16px;
}

.erro-historico a{
    color:rgb(59, 7, 84);
    font-weight: 700;
}

/*páginas cadastrar livro*/
.button-plus {
    border: 0.05rem solid #4c0677;
    background-color: #4c0677; 
    padding: 8px 12px;
    color: #ffffff;
    border-radius: 10px;
    margin: 3px;
}

.button-plus:hover {
    background-color: #ffffff; 
    color:#4c0677;
    border: 0.05rem solid #4c0677;
}

.btn-pesquisa-bibliotecario{
    border: 0.05rem solid #FA4D39;
    background-color: #FA4D39; 
    padding: 8px 12px;
    color: #ffffff;
    border-radius: 10px;
    margin: 3px;
    margin-top: 10px;
}

.btn-pesquisa-bibliotecario:hover{
    background-color: #ffffff; 
    border: 0.05rem solid #4c0677;
    color: #4c0677;
}
.icones-table p{
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn-conclui-cadastro{
    text-align: end;
}

.cadastrar-livro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #ffffff;
}

.input-nomes{
    width: 100%;
    min-width: 300px;
    margin-bottom: 10px;
    font-family: nunito;
    font-weight: 500;
}
.input-nomes input{
    margin: 0px 0px 30px 0px;
}
.input-selecionar{
    margin-top: 20px;
    width: 900px;
    margin-bottom: 30px;
    min-width: 300px;
}
.input-selecionar select, .input-selecionar input{
    width: 70%;
    display: inline;
    font-family: nunito;
    font-weight: 500;
}
.input-selecionar label{
    width: 100%;
    font-family: nunito;
    font-weight: 500;
}
.input-selecionar button{
    width: 23%;
    margin-left: 50px;
}
.input-textarea{
    font-family: nunito;
    font-weight: 500;
}
.input-textarea textarea{
    height: 200px;
    font-family: nunito;
    font-weight: 500;
}

/*alterar senha*/
.alterar-senha{
    margin-bottom: 100px;
    margin-top: 30px;
}

/*página avaliar*/
.dados-livro-avaliar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: nunito;
}
.dados-livro-avaliar p span{
    font-weight: 600;
    padding: 0px 5px 0px 0px;
    margin: 0px;
}
.img-avaliar{
    width: 38%;
    text-align: end;
    padding-right: 50px;
    height: 150px;
}
.img-avaliar img{
    width: 120px;
    height: 100%;
}
.dados-avaliar{
    width: 40%;
    text-align: start;
}
.form-avalia{
    margin-top: 50px;
    width: 30%
}
.link-avaliacoes{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.link-avaliacoes a{
    color:#4c0677;
    font-family: nunito;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 7px double #4c0677;
}

.avalia-livro{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: nunito;
}

.avalia-livro p span{
    font-weight: 600;
    padding: 0px 5px 0px 0px;
    margin: 0px;
}
.img-pessoa{
    width: 25%;
    text-align: end;
    padding-right: 50px;
    height: 150px;
}
.img-pessoa img{
    width: 120px;
    height: 100%;
}

.dados-avaliar{
    width: 50%;
    text-align: start;
}
.form-avalia{
    margin-top: 50px;
    width: 30%
}
.div-dados-avaliar{
    text-align: start;
}
.div-avaliacao{
    display: flex;
    flex-wrap: wrap;
    font-family: nunito;
    border-top: 0.05rem solid #c4c4c4;
    width: 50%;
    padding-top: 40px;
}

/*página consulta de alunos*/

.div-dados-aluno{
    width: 60%;
}
.div-dados-aluno p{
    font-size: 12px;
    margin: 2px;
    font-weight: 700;
}
.img-pessoa1{
    display: flex;
    justify-content: end;
    height: 100px; width: 160px;
    padding: 10px;
    margin-right: 18px;
}
.img-pessoa1 img{
    width: 70px; 
    height:70px;
    border-radius: 200px
}

/*home aluno*/

.page-item-topo {
    padding-top: 10px;
    padding-left: 20px;
}

.nav-login .page-item-topo {
    margin-left: 30px;
    margin-right: auto;
    margin-top: 25px;
    text-transform: uppercase;
}

.page-item-topo p {
    font-family: nunito;
    font-size:12px; 
    color: #c3c3c3; 
    display: inline; 
    padding-right: 20px;
}

.nav-login .page-item-topo i {
    margin-right: 10px;
    margin-top: 20px;
}

.nav-login .page-item-topo a {
    text-decoration: none;
    color: rgb(59, 7, 84);
    font-size: 18px;
    font-weight: 800;
    font-family: nunito;
}

.home-div-conteudo {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    width: 100%;
    height: 630px;
}

.home-div {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 3px #3c3c3c;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: nunito;
    border-radius: 5px;
}

.home-div .home-pessoa {
    width: 70%;
    border-right: 0.05rem solid #ced4da;
    text-align: center;
}

.home-pessoa div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; width: 100%;
    padding: 10px;
    margin-right: 18px;
}  

.home-pessoa div > img {
    width: 190px; 
    height: 190px;
    border-radius: 200px;
}

.home-opcoes {
    padding-top: 50px;
    width: 30%;
    display: block;
    justify-content: center;
}
.home-opcoes .sair {
    width: 100%;
    text-align: center;
    color:#4c0677;
    text-decoration: underline;
    letter-spacing: 0.9px;
    font-weight: 600;
    margin-top: 70px;
    transition: all 0.2s ease-in-out;
}

.home-opcoes div {
    text-align: center;
    width: 90%;
    margin-left: 15px;
    margin-right: 5px;
    padding: 15px 7px 15px 7px;
    margin-top: 30px;
    border-bottom: 0.05rem solid #df9ba6;
    transition: all 0.3s ease-in-out;
    transform: scale(0.9);
}

.home-opcoes div:hover {
    transform: scale(1);
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.home-opcoes div a, .home-opcoes p a {
    text-decoration: none;
    color: #731ec7;
}

.home-opcoes div a:hover {
    text-decoration: none;
    color: #991de7;
}

/*página modal*/
.modal-title{
    font-family: nunito;
    font-weight: 600;
}































/*footer*/
.footer{
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 80px 0px 50px 0px;

}

.footer .div-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    border-top: 0.1px solid #4f4f4f;
    padding-top: 20px;
    border-bottom: 0.1px solid #4f4f4f;
    padding-bottom: 20px;
}

.div-footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
    padding: 30px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.footer img{
    width: 100px;
    height: 100px;
}

.footer a{
    color:rgb(181, 181, 181);   
    text-decoration: none;
}

div .icon-footer {
    text-align: center;
    color: #fff;
    font-size: 25px;
    letter-spacing: 20px;
    text-decoration: none;

}



@media  (max-width: 1500px) {
    .table-conteudo .sinopse{
        font-size: 12px;
        margin-top: 10px;
    }
    .table-conteudo h3{
        font-size: 22px;
    }
    .table-livro-aluno > div{
        width: 60%;
        min-width: 500px;
    }
    .table-conteudo .sinopse{
        font-size: 10px;
        margin-bottom: 3px;
    }
}

@media  (max-width: 1000px) {
    .table-livro-aluno > div{
        width: 70%;
        min-width: 500px;
    }
    h3 span, .disponibilidade{
        font-size: 9px;
    }
    .table-conteudo h3{
        font-size: 18px;
        padding-top: 20px;
    }
    .conteudo h2, .contato h2{
        font-size: 24px;
    }
    .conteudo p{
        font-size: 20px;
    }
    .contato .img-form{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .img-form img{
        width: 100%;
    }
    .contato .form-contato{
        width: 50%;
        padding-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    .acesso .form-login{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
    }
    .acesso .informes-login{
        width: 80%;
        border-right: none;
        margin-left: auto;
        margin-right: auto;
    }
    .input-selecionar, .input-selecionar button, .input-nomes, .input-textarea, .btn-conclui-cadastro{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-conclui-cadastro{
        text-align: start;
    }
    .page-info-name{
        display: none;
    }

    .table-conteudo .sinopse{
       font-size: 10px;
       margin-bottom: 3px;
    }
}