<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
}

.div-nav{
    width: 6%;
    padding: 15px 0px 0px 20px;
    font-family: Poppins;
}
.div-nav img{
    width: 80px;
    height: 60px;
    margin-left: 50px;
}
.button img{
    width: 80px;
    height: 60px;
    margin-left: 50px;
}
.navbar{
    --bs-navbar-padding-y: 0rem;
}
.navbar-nav{
    display: flex;
    width: 40%;
    padding-left: 80px;
}
.navbar-nav a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 800;
    margin: 10px;
}

.navbar-nav a:hover {
    text-decoration: none;
    color: #a776d9;
    opacity: 0.8;
    font-size: 18px;
}

.navbar{
    border-bottom: 0.16em solid #a776d9;
    font-family: Poppins;
    font-weight: 400;
}
.navbar a{
    font-family: Poppins;
    font-weight: 400;
}
.navbar-toggler{
    margin-left: 80px;
    margin-right: 380px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.btn-login{
    border: 1px solid #a776d9;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 60px;
    width: 150px;
    font-family: Poppins;
}
.btn-login:hover{
    border: 1px solid #7625C9;
}
.btn-login:focus{
    border: 1px solid #7625C9;
}

.centralizar-txt {
    text-align: center;
}

.centralizar-txt h1{
    font-size: 30px;
    font-family: Poppins;
    font-weight: 300;
    margin-top: 60px;
}

.ball {
    animation: float 3.5s ease-in-out infinite;
    margin-left: 100px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    position: relative;
    background: radial-gradient( circle at 75% 30%, white 5px, #DF00FF, inset 88px 0px 60px #DB9EDF, inset -20px -60px 100px
    #FDE9EA, inset 0px 50px 140px #FDE9EA, 0px 0px 90px #fff);
    box-shadow: inset 0 0 20px #C1AAC6, inset 10px 0 46px #DF00FF, inset 88px 0px 60px #DB9EDF, inset -20px -60px 100px #FDE9EA,
    inset 0 50px 140px #FDE9EA, 0 0 90px #fff;
}

@keyframes float {
    0% {
        transform: translateY(90px);
    }
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(90px);
    }
}

.shadow {
    background: #DB9EDF;
    width: 110px;
    height: 40px;
    margin-left: 100px;
    animation: expand 3.5s infinite;
    position: absolute;
    border-radius: 50%;
}

@keyframes expand {
    0%, 100% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
}

.img-bg {
    display: flex;
    justify-content: center;
}
.img-bg img {
   width: calc(62% - 100px);
}

.conteudo-2 {
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.conteudo-2 h1{
    margin-bottom: 40px;
    margin-top: 20px;
}

.alinhar-p {
    width: calc(70% - 20px);
}

.alinhar-p p{
    font-size: 24px;
    font-family: nunito;
    font-weight: 400;
    margin-bottom: 60px;
}

.cartoes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cartao {
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 310px;
    height: 400px;
    transition: all 0.3s ease-out;
    text-align: center;
}

.cartao:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.cartao p {
    color: #fff;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
}

.cartao h1 {
    color: #fff;
    font-size: 20px;
    font-family: Poppins;
    margin-bottom: 10px;
}

.azul {
    background-color: #2B468A;
}

.vermelho {
    background-color: #B84C43;
}

.amarelo {
    background-color: #FB9847;
}

.conteudo-3 {
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input[type=text], textarea {
    width: calc(60% - 20px);
    padding: 10px;
    border: none;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    border-radius: 10px;
    box-shadow: inset 0 0 0 transparent, 0 0 0.3em #a776d9;
    color: #000;
    outline: 0;
  }

  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 180px;
    height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-family: Poppins;
    letter-spacing: 1px;
    font-weight: 400;
    color: #f2f2f2;
    background: #a776d9;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    box-shadow: inset 0 0 0 transparent, 0 0 0.3em #000;
    margin-bottom: 30px;
}
  
  .button:hover, .button:focus {
    color: #fff;
    transform: scale(0.9);
  }
  
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #a776d9;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 120px;
      height: 120px;
      opacity: 0;
    }
  }


.align-solicitar {
    display: flex;
    justify-content: center;
    margin: 50px;
}
  
.solicitar {
    width: calc(70% - 20px);
    height: 200px;
    background-color: #a776d9;
    border-radius: 20px 0 20px 0;
}

.solicitar p{
    color: #fff;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    padding: 20px;
    text-align: center;
    margin-top: 3%;
}

@media  (max-width: 1380px) {
    .div-nav{
        display: none;
    }
    .btn-login{
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 80px;
    }
    .ball {
        display: none;
    }
    .shadow {
        display: none;
    }

    .centralizar-txt h1 {
        font-size: 25px;
    }

    .alinhar-p p{
        font-size: 18px;
    }

    .img-bg img {
        width: calc(80% - 20px);
     }
}
  




=======
* {
    margin: 0;
    padding: 0;
}

.div-nav{
    width: 6%;
    padding: 15px 0px 0px 20px;
    font-family: Poppins;
}
.div-nav img{
    width: 80px;
    height: 60px;
    margin-left: 50px;
}
.button img{
    width: 80px;
    height: 60px;
    margin-left: 50px;
}
.navbar{
    --bs-navbar-padding-y: 0rem;
}
.navbar-nav{
    display: flex;
    width: 40%;
    padding-left: 80px;
}
.navbar-nav a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 800;
    margin: 10px;
}

.navbar-nav a:hover {
    text-decoration: none;
    color: #a776d9;
    opacity: 0.8;
    font-size: 18px;
}

.navbar{
    border-bottom: 0.16em solid #a776d9;
    font-family: Poppins;
    font-weight: 400;
}
.navbar a{
    font-family: Poppins;
    font-weight: 400;
}
.navbar-toggler{
    margin-left: 80px;
    margin-right: 380px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.btn-login{
    border: 1px solid #a776d9;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 60px;
    width: 150px;
    font-family: Poppins;
}
.btn-login:hover{
    border: 1px solid #7625C9;
}
.btn-login:focus{
    border: 1px solid #7625C9;
}

.centralizar-txt {
    text-align: center;
}

.centralizar-txt h1{
    font-size: 30px;
    font-family: Poppins;
    font-weight: 300;
    margin-top: 60px;
}

.ball {
    animation: float 3.5s ease-in-out infinite;
    margin-left: 100px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    position: relative;
    background: radial-gradient( circle at 75% 30%, white 5px, #DF00FF, inset 88px 0px 60px #DB9EDF, inset -20px -60px 100px
    #FDE9EA, inset 0px 50px 140px #FDE9EA, 0px 0px 90px #fff);
    box-shadow: inset 0 0 20px #C1AAC6, inset 10px 0 46px #DF00FF, inset 88px 0px 60px #DB9EDF, inset -20px -60px 100px #FDE9EA,
    inset 0 50px 140px #FDE9EA, 0 0 90px #fff;
}

@keyframes float {
    0% {
        transform: translateY(90px);
    }
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(90px);
    }
}

.shadow {
    background: #DB9EDF;
    width: 110px;
    height: 40px;
    margin-left: 100px;
    animation: expand 3.5s infinite;
    position: absolute;
    border-radius: 50%;
}

@keyframes expand {
    0%, 100% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
}

.img-bg {
    display: flex;
    justify-content: center;
}
.img-bg img {
   width: calc(62% - 100px);
}

.conteudo-2 {
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.conteudo-2 h1{
    margin-bottom: 40px;
    margin-top: 20px;
}

.alinhar-p {
    width: calc(70% - 20px);
}

.alinhar-p p{
    font-size: 24px;
    font-family: nunito;
    font-weight: 400;
    margin-bottom: 60px;
}

.cartoes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cartao {
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 310px;
    height: 400px;
    transition: all 0.3s ease-out;
    text-align: center;
}

.cartao:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.cartao p {
    color: #fff;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
}

.cartao h1 {
    color: #fff;
    font-size: 20px;
    font-family: Poppins;
    margin-bottom: 10px;
}

.azul {
    background-color: #2B468A;
}

.vermelho {
    background-color: #B84C43;
}

.amarelo {
    background-color: #FB9847;
}

.conteudo-3 {
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input[type=text], textarea {
    width: calc(60% - 20px);
    padding: 10px;
    border: none;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    border-radius: 10px;
    box-shadow: inset 0 0 0 transparent, 0 0 0.3em #a776d9;
    color: #000;
    outline: 0;
  }

  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 180px;
    height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-family: Poppins;
    letter-spacing: 1px;
    font-weight: 400;
    color: #f2f2f2;
    background: #a776d9;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    box-shadow: inset 0 0 0 transparent, 0 0 0.3em #000;
    margin-bottom: 30px;
}
  
  .button:hover, .button:focus {
    color: #fff;
    transform: scale(0.9);
  }
  
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #a776d9;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 120px;
      height: 120px;
      opacity: 0;
    }
  }


.align-solicitar {
    display: flex;
    justify-content: center;
    margin: 50px;
}
  
.solicitar {
    width: calc(70% - 20px);
    height: 200px;
    background-color: #a776d9;
    border-radius: 20px 0 20px 0;
}

.solicitar p{
    color: #fff;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    padding: 20px;
    text-align: center;
    margin-top: 3%;
}

@media  (max-width: 1380px) {
    .div-nav{
        display: none;
    }
    .btn-login{
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 80px;
    }
    .ball {
        display: none;
    }
    .shadow {
        display: none;
    }

    .centralizar-txt h1 {
        font-size: 25px;
    }

    .alinhar-p p{
        font-size: 18px;
    }

    .img-bg img {
        width: calc(80% - 20px);
     }
}
  




>>>>>>> e770c0fc498aa9ad0f7a33692878805a9f341e35
